body {
  background-color: rgb(44,44,44);
  color: #fff;
}

canvas {
  display: block;
  max-width: 100%;
  border: 1px solid rgb(160,160,160);
  background-color: rgb(128,128,128);
}

.centered {
  margin: 0 auto;
  text-align: center;
}

.image {
  display: inline-block;
}

#input .image {
  max-width: 40%;
}

#anaglyph .wrap {

}

#anaglyph .image {
  margin-left: 28px;
  max-width: 80%;
  max-height: 90%;
}

#anaglyph .image canvas {
  display: inline-block;
}

.clear {
  clear: both;
}

input[type=range].x {
  display: inline-block;
  width: 640px;
  height: 20px;
}

input[type=range].y {
  -webkit-appearance: slider-vertical;
  width: 20px;
  height: 480px;
}
