body {
  background-color: rgb(247,247,247);
  color: #000;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
  font-weight: 300;
}

a {
  color: rgb(0, 132, 255);
}

a:hover {
  color: rgb(0, 50, 100);
}

button {
  border: none;
  font-size: 1em;
  font-weight: 300;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
}

.btn {
  color: rgb(0, 132, 255);
  background-color: rgba(247,247,247, 255);
}

.btn:hover {
  color: rgb(0, 50, 100);
}

ul {
  list-style: none;
}

.image ul {
  margin: 0 auto;
  padding: 0;
  width: 80%;
  display: -webkit-flex;
  -webkit-justify-content: space-between;
}

.image li a {
  padding: 10px;
  display: block;
}

canvas {
  display: block;
  max-width: 100%;
  border: 1px solid rgb(160,160,160);
  background-color: rgb(170,170,170);
}

.centered {
  margin: 0 auto;
  text-align: center;
}

.image {
  display: inline-block;
}

#input .image {
  max-width: 40%;
}

#anaglyph {
  margin-top: 10px;
}

#anaglyph .image {
  margin-left: 28px;
  max-width: 80%;
  max-height: 90%;
}

#anaglyph .image canvas {
  display: inline-block;
}

.clear {
  clear: both;
}

.x {
  display: inline-block;
  width: 640px;
  height: 20px;
}

.y {
  -webkit-appearance: slider-vertical;
  -moz-appearance: slider-vertical;
  vertical-align: top;
  width: 20px;
  height: 480px;
}
